* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

window#waybar {
    background-color: rgba(22, 22, 22, 0.6);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #666666;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #e84f4f;
}

#custom-weather,
#custom-packages,
#disk,
#temperature,
#memory,
#pulseaudio,
#custom-media,
#clock,
#network,
#tray {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #e84f4f;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #e84f4f;
}

#temperature.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray menu {
    font-family: Monospace;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(22, 22, 22, 0.6);
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e84f4f;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
